.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: var(--gray-700);
}

.scan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 20px;
    color: var(--green-300);
    filter: drop-shadow(0 0 20px var(--green-300))
      drop-shadow(0 0 60px var(--green-300));
    animation: animate_text 0.5s steps(1) infinite;
  }
}

.fingerprint {
  position: relative;
  width: 300px;
  height: 380px;
  background: url(../../../public/images/fingerPrint_01.png);
  background-size: 300px;
}
.fingerprint::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../public/images/fingerPrint_02.png);
  background-size: 300px;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
}

.fingerprint::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: var(--green-300);
  border-radius: 8px;
  filter: drop-shadow(0 0 20px var(--green-300))
    drop-shadow(0 0 60px var(--green-300));
  animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
}

@keyframes animate_text {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
