.contaier {
  display: block;
}

.containerHeader {
  height: calc(100vh - 6rem);
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contentImg {
  box-shadow: 0px 0px 32px var(--green-300);
}

.animatee {
  animation: blink 700ms infinite normal, typing 7s steps(40) 500ms normal both;
}

.ctaText {
  max-width: 600px;

  h1 {
    border-right: 2px solid var(--white);
    color: var(--white);
    font-size: 2rem;
    font-family: "Special Elite", monospace;
    font-weight: 900;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  span {
    font-size: 1rem;
    line-height: 2.25rem;
    color: var(--white);
  }

  button {
    background-color: var(--green-300);
    border: 0;
    padding: 1rem 1.8rem;
    margin-top: 2.5rem;
    border-radius: 7px;
    color: var(--white);
    font-weight: bold;
  }
}

.divisor {
  width: 100%;
  bottom: 0;
  height: 1px;
  border-color: var(--gray-200);
}

.sectionContent {
  margin: 4rem auto;
  max-width: 1120px;
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;

  section {
    max-width: 670px;
  }

  img {
    max-width: 400px;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.2rem;
    color: var(--white);
  }

  span {
    font-size: 1rem;
    line-height: 2.25rem;
    color: var(--white);
  }
}

.nextLevelContent {
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  h2 {
    font-size: 2.8rem;
    line-height: 4.5rem;
    font-weight: 900;
    color: var(--white);

    span {
      font-size: 2.8rem;
      line-height: 4.5rem;
      font-weight: 900;
      color: var(--green-300);
    }
  }

  span {
    font-size: 1rem;
    line-height: 2.25rem;
    color: var(--white);
  }

  button {
    background-color: var(--green-300);
    border: 0;
    padding: 1rem 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    color: var(--white);
    font-weight: bold;
  }
}

@media (max-width: 1095px) {
  .container {
    .containerHeader {
      padding: 0 2rem;

      button {
        display: block;
      }

      img {
        max-width: 600px;
      }
    }

    div h2 {
      font-size: 2.3rem;

      span {
        font-size: 2.3rem;
      }
    }

    .sectionContent,
    .nextLevelContent {
      padding: 2rem;
    }
  }
}

@media (max-width: 950px) {
  .container {
    .containerHeader {
      flex-direction: column;
      margin-top: 4rem;
      margin-bottom: 3rem;

      button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        max-width: 400px;
        margin-bottom: 2rem;
      }
    }

    .contentImg {
      max-width: 400px;

      img {
        max-height: 360px;
        max-width: 400px;
        border-radius: 16px;
        box-shadow: 0px 0px 32px var(--green-300);
      }
    }

    div h2 {
      font-size: 1rem;
    }

    .sectionContent {
      flex-direction: column;

      img {
        margin-top: 2rem;
        max-width: 300px;
      }
    }

    .ctaText {
      margin-top: 10rem;
      margin-bottom: 2rem;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20rem;
  }
}

@keyframes blink {
  from {
    border-right-color: var(--white);
  }
  to {
    border-right-color: transparent;
  }
}
