.headerContainer {
  height: 6rem;
  border-bottom: 1px solid var(--gray-200);
  background: var(--gray-700);
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  height: 6rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }

  nav {
    margin-left: 5rem;
    height: 6rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 6rem;
      line-height: 6rem;
      color: var(--gray-100);
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--orange-200);
        font-weight: bold;
      }
    }
  }
}

.readyButton {
  margin-left: auto;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: var(--green-300);
  border: 0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(110%);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
}

@media (max-width: 870px) {
  .headerContainer {
    height: 12rem;
    padding: 0.5rem 0;
  }

  .headerContent {
    display: flex;
    flex-direction: column;
    padding: 0;

    height: 3rem;

    nav {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .readyButton {
      display: none;
    }
  }
}
